body {
    padding: 20px;
    margin: 20px;
    background-color: #000;
    color: aqua;


}

a {
    padding: 0px 5px;
    margin: 10px 5px;
    border-style: hidden;
    background-color: rgb(240, 115, 6);
    text-decoration: none;
    color: aquamarine;
}

@import url('https://fonts.googleapis.com/css2?family=Twinkle+Star&display=swap');

ul li {
    padding: 0px;
    margin: 0px;
    letter-spacing: -1px;
    line-height: -1.4px;
    word-spacing: 5px;
    font-weight: 700;
    font-family: 'Twinkle Star', sans-serif;
    list-style-type: none;
    font-size: 16px;
    text-align: left;

}

h1 {
    position: sticky;
    top: 0;
    padding: 5px;
    margin: 5px;
    color: burlywood;
    background-color: blue;
    font-family: papyrus, fantasy;
    font-size: 72px;
    text-align: center;
    z-index: 1000;
    font-weight: bolder;
    letter-spacing: 2px;
}

h2 {
    padding: 0px;
    margin: 0px;
    color: cadetblue;
    letter-spacing: -2px;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    font-size: 64px;
    text-align: left;


}

p {
    padding: 0px;
    margin: 0px;
    color: #f0ffff;
    white-space: normal;
    font-size: 28px;
    font-style: italic;
    font-weight: 100;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: justify;


}

.p2 {
    text-align: right;
    word-spacing: -2px;
    line-height: 0.8;
    padding: 10px;
    margin: 10px;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    color: darkorange;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;


}

.flex-container {
    display: flex;
    background-color: rgb(90, 255, 30);
    justify-content: space-around;
}

.flex-container>div {

    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 900;
    color: #000;
    background-color: #f1f1f1;
    margin: 10px;
    padding: 20px;
    font-size: 30px;
    justify-content: center;
}